// all variable here for (dark version)
$section_black: rgba(14, 14, 14, 0.5);

$section_m: 120px;

$h_fontstack: "Poppins", sans-serif;
$h_white: #ffffff;
$h_black: #232323;

$p_fontstack: "Titillium Web", sans-serif;
$p_white: #ffffff;
$p_black: #232323;
