// all variable here
$section_black: rgba(237, 239, 244, 0.7);

$section_m: 120px;

$h_fontstack: "Poppins", sans-serif;
$h_white: #ffffff;
$h_black: #232323;

$p_fontstack: "Titillium Web", sans-serif;
$p_white: #ffffff;
